<!doctype html>

<html lang="en" class="no-js">

<meta http-equiv="content-type" content="text/html;charset=utf-8" /><!-- /Added by HTTrack -->
<head>
    <meta charset="UTF-8">
    <title>Alotaxi-Costumer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <style>
        .li-dot::before {
            content: "• "; /* Nokta karakterini ekler */
            color: black; /* Noktanın rengini ayarlar */
        }
    </style>
</head>

<body>

    <div class="wrapper">
        <a id="close_deleting_client_info_link" href="index.html">
            <span class="close">&times;</span>
        </a>  <div class="container">
            <h1>Alo Taxi - Müştəri</h1>
            <br>

            "Alo Taxi" taksi sifarişi üçün mobil proqramdır
            və BIT Master MMC tərəfindən hazırlanmış Taxi-Master
            proqram paketindən istifadə edən şirkətlər üçün işləyir.
            <br>
            Şəxsi məlumatların silinməsi zamanı məlumatlar proqram
            paketinin verilənlər bazasında dərhal silinir.  <br>
            <br/>
            <h6>Silinəcək məlumatlar:</h6>
           <ul>
                <li class="li-dot">Telefon nömrəsi</li>
                <li class="li-dot">İstifadəçi adı</li>
                <li class="li-dot">Doğum tarixi</li>
                <li class="li-dot">E-poçt</li>
                <li class="li-dot">Səyahət və rezervasiya məlumatları</li>
                <li class="li-dot">Hesablar və qalıqlar haqqında məlumatlar</li>
                <li class="li-dot">Şəxsi parametrlər</li>
           </ul>
            <br>
            <br>
            <h2>İstifadəçinin şəxsi məlumatlarının silinməsi üçün təlimatlar</h2>
            <h2>
                <b>
                    1) Proqram menyusuna daxil olun və sonra profilə keçin.
                    <br>
                    <img class="image" src="~/images/SCREENSHOT1.jpg">
                    <br>
                    <br>

                    2) Profilinizdə "Üç nöqtə" işarəsinə klikləyin.
                    <br>
                    <img class="image" src="~/images/SCRENSHOT2.jpg">
                    <br>
                    <br>

                    3) Sonra "Hesabı silin" seçin.
                    <br>
                    <img class="image" src="~/images/SCRENSHOT3.jpg">
                    <br>
                    <br>



                    4) Görünən dialoqda “Bəli” seçimini seçin.
                    <br>
                    <img class="image" src="~/images/SCRENSHOT4.jpg">
                    <br>
                    <br>

                    5) Sonra telefon nömrənizi daxil edin və "Təsdiq et" düyməsini basın.
                    <br>
                    <img class="image" src="~/images/SCRENSHOT5.jpg">
                    <br>
                    <br>


            </h2></b>
        </div>
    </div>


</body>
</html>

