@model AboutPageViewModel

<section class="about-section">
<div class="auto-container">
<div class="row">

<div class="content-column col-lg-6 order-lg-2" data-aos="fade-left">
<div class="inner-column">
<div class="sec-title">
<span class="sub-title">Welcome to our company</span>
<h2 class="letters-slide-up text-split">Feel the difference and Relaxation!</h2>
<div class="text">We successfully cope with tasks of varying complexity, provide long-term guarantees and regularly master new technologies. Our portfolio includes dozens of successfully completed projects of houses of different storeys,</div>
</div>
<ul class="list-style-two">
<li>We successfully cope with tasks of varying complexity.</li>
<li>Long-term gurantees and regularly</li>
<li>Master new technologies.</li>
</ul>
</div>
</div>

<div class="image-column col-lg-6">
<div class="inner-column">
<figure class="image reveal"><img src="images/resource/about1-1.jpg" alt="Image"></figure>
<figure class="image-2 reveal"><img src="images/resource/about1-2.jpg" alt="Image"></figure>
<div class="video-box" data-aos="fade-up">
</div>
</div>
</div>
</div>
</div>
</section>


<section class="service-section-two">
<div class="bg bg-pattern-1"></div>
<div class="auto-container">
<div class="work-tabs tabs-box">
<div class="row">

<div class="btn-column col-lg-4 col-md-4 col-md-12">
<div class="inner-column">
<div class="sec-title light">
<span class="sub-title">Our Services</span>
<h2 class="letters-slide-up text-split">Our Best Services <br>For You</h2>
</div>
<ul class="tab-btns tab-buttons">
<li class="tab-btn" data-tab="#tab1"><sup>01.</sup> City Transport <i class="icon fa fa-angle-double-right"></i></li>
<li class="tab-btn active-btn" data-tab="#tab2"><sup>02.</sup> Online Booking <i class="icon fa fa-angle-double-right"></i></li>
<li class="tab-btn" data-tab="#tab3"><sup>03.</sup> Regular Transport <i class="icon fa fa-angle-double-right"></i></li>
<li class="tab-btn" data-tab="#tab4"><sup>04.</sup> City Transport <i class="icon fa fa-angle-double-right"></i></li>
<li class="tab-btn" data-tab="#tab5"><sup>05.</sup> Airport Transfer <i class="icon fa fa-angle-double-right"></i></li>
</ul>
</div>
</div>

<div class="image-column col-lg-8 col-md-8 col-md-12">
<div class="inner-column">
<div class="tabs-content">

<div class="tab" id="tab1">
<div class="image-box">
<div class="inner-box">
<figure class="image"><img src="images/resource/service2-1.jpg" alt="Image"></figure>
<div class="exp-box">
<div class="text">Curabitur ac quam aliquam vehic ula semper sed vel elit et leo puru s Curabitur ac quam.</div>
<a href="page-service-details.html" class="read-more">Book Service</a>
</div>
</div>
</div>
</div>

<div class="tab active-tab" id="tab2">
<div class="image-box">
<div class="inner-box">
<figure class="image"><img src="images/resource/service2-1.jpg" alt="Image"></figure>
<div class="exp-box">
<div class="text">Curabitur ac quam aliquam vehic ula semper sed vel elit et leo puru s Curabitur ac quam.</div>
<a href="page-service-details.html" class="read-more">Book Service</a>
</div>
</div>
</div>
</div>

<div class="tab" id="tab3">
<div class="image-box">
<div class="inner-box">
<figure class="image"><img src="images/resource/service2-1.jpg" alt="Image"></figure>
<div class="exp-box">
<div class="text">Curabitur ac quam aliquam vehic ula semper sed vel elit et leo puru s Curabitur ac quam.</div>
<a href="page-service-details.html" class="read-more">Book Service</a>
</div>
</div>
</div>
</div>

<div class="tab" id="tab4">
<div class="image-box">
<div class="inner-box">
<figure class="image"><img src="images/resource/service2-1.jpg" alt="Image"></figure>
<div class="exp-box">
<div class="text">Curabitur ac quam aliquam vehic ula semper sed vel elit et leo puru s Curabitur ac quam.</div>
<a href="page-service-details.html" class="read-more">Book Service</a>
</div>
</div>
</div>
</div>

<div class="tab" id="tab5">
<div class="image-box">
<div class="inner-box">
<figure class="image"><img src="images/resource/service2-1.jpg" alt="Image"></figure>
<div class="exp-box">
<div class="text">Curabitur ac quam aliquam vehic ula semper sed vel elit et leo puru s Curabitur ac quam.</div>
<a href="page-service-details.html" class="read-more">Book Service</a>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</section>


<section class="work-section pt-0">
<div class="auto-container">
<div class="sec-title text-center">
<span class="sub-icon"></span>
<span class="sub-title">Order Taxi Online</span>
<h2 class="letters-slide-up text-split">How It Works</h2>
</div>
<div class="row">

<div class="work-block col-lg-4 col-md-6" data-aos="fade-up">
<div class="inner-box">
<i class="icon flaticon-taxi"></i>
<div class="content">
<h4 class="title">Book in Just <br>2 Tabs</h4>
<div class="text">Curabitur ac quam aliquam vehicula semper sed vel elit et leo purus.</div>
</div>
</div>
</div>

<div class="work-block col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
<div class="inner-box">
<i class="icon flaticon-mobile-app"></i>
<div class="content">
<h4 class="title">Track your driver</h4>
<div class="text">Curabitur ac quam aliquam vehicula semper sed vel elit et leo purus.</div>
</div>
</div>
</div>

<div class="work-block col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
<div class="inner-box">
<i class="icon flaticon-taxi-6"></i>
<div class="content">
<h4 class="title">Pick & arrive safely</h4>
<div class="text">Curabitur ac quam aliquam vehicula semper sed vel elit et leo purus.</div>
</div>
</div>
</div>
</div>
</div>
</section>



