@model WhyUs
@{
    ViewData["Title"] = "Edit";
}


<div class="row justify-content-center">
    <div class="col-md-8">
        <h2>Redaktə et Et</h2>
        <form asp-action="edit" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label asp-for="Title">Başlıq</label>
                <input class="form-control" placeholder="Başlıq Əlavə Edin" asp-for="Title">
            </div>
            <div class="form-group">
                <label asp-for="Description">Açıqlama</label>
                <input class="form-control" placeholder="Açıqlama Əlavə Edin" asp-for="Description">
            </div>
            <div class="form-group">
                <label asp-for="ImageFile">Şəkil</label>
                <input class="form-control" asp-for="ImageFile">
                <span class="text-danger" asp-validation-for="ImageFile"></span>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
