@model List<Categorie>
<section class="page-title" style="background-image: url(images/background/page-title.png);">
    <div class="auto-container">
        <div class="title-outer text-center">
            <h1 class="title">Xidmətlərimiz</h1>
            <ul class="page-breadcrumb">
                <li><a asp-action="index" asp-controller="home">Əsas səhifə</a></li>
                <li>Xidmətlərimiz</li>
            </ul>
        </div>
    </div>
</section>


<section class="service-section-three">
    <div class="auto-container">
        <div class="row" data-aos="fade-left">
           
         @foreach (var item in Model)
            {
                <div class="col-lg-4 col-sm-6">

                    <div class="service-block-three">
                        <div class="inner-box">
                            <div class="image-box">
                                <figure class="image"><img src="~/uploads/categories/@item.Image" alt="Image"></figure>
                                <i class="icon flaticon-driver-3"></i>
                            </div>
                            <div class="content">
                                <h3 class="title">@item.CategoryName</h3>
                                <div class="text">@item.Description</div>
                            </div>
                        </div>
                    </div>
                </div>

            } 
        </div>
    </div>
</section>


